{% extends 'base.html' %}
{% load static %}


{% block content %}
<h1 class="content text-center mb-4">About us</h1>

<!-- Card deck -->
<div class="card-deck">

  <!-- Card -->
  <div class="card mb-5">

    <!--Card image-->
    <div class="view overlay zoom">
      <img class="card-img-top" src="{% static 'img/500.png' %}"
        alt="Card image cap">
      <a href="https://github.com/" target="_blank">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Adam</h4>
      <!--Text-->
      <p class="card-text text-justify">Some text</p>

    </div>

  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card mb-5">

    <!--Card image-->
    <div class="view overlay zoom">
      <img class="card-img-top" src="{% static 'img/500.png' %}"
        alt="Card image cap">
      <a href="https://github.com/" target="_blank">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Chuck</h4>
      <!--Text-->
      <p class="card-text text-justify">Some text</p>

    </div>

  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card mb-5">

    <!--Card image-->
    <div class="view overlay zoom">
      <img class="card-img-top" src="{% static 'img/500.png' %}"
        alt="Card image cap">
      <a href="https://github.com/" target="_blank">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Natalie</h4>
      <!--Text-->
      <p class="card-text text-justify">Some text</p>

    </div>

  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card mb-5">

    <!--Card image-->
    <div class="view overlay zoom">
      <img class="card-img-top" src="{% static 'img/500.png' %}"
        alt="Card image cap">
      <a href="https://github.com/" target="_blank">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Roman</h4>
      <!--Text-->
      <p class="card-text text-justify">Some text</p>

    </div>

  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card mb-5">

    <!--Card image-->
    <div class="view overlay zoom">
      <img class="card-img-top" src="{% static 'img/500.png' %}"
        alt="Card image cap">
      <a href="https://github.com/" target="_blank">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Thomas</h4>
      <!--Text-->
      <p class="card-text text-justify">Some text</p>

    </div>

  </div>
  <!-- Card -->

</div>
<!-- Card deck -->
{% endblock content %}

