{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block content %}
<h1 class="content text-center mb-4">Watchlist</h1>

<h2>My Stocks</h2>

{% if stocks %}
 <div class="text-center table-responsive">
    <table id="results" class="table table-hover table-bordered white-background">
      <thead>
        <tr>
          <th class="text-primary" scope="col">TICKER</th>
          <th class="text-primary" scope="col">COMPANY NAME</th>
        </tr>
      </thead>
      <tbody id="table-body">
        {% for stock in stocks %}
          {% if request.user == stock.user %}
            <tr>
              <th class="align-middle" scope="row">{{ stock.stock_ticker }}</th>
              <td class="align-middle">{{ stock.company_name }}</td>
              <td><a class="btn btn-outline-danger waves-effect p-2 " data-toggle="modal" data-target="#modalConfirmDelete" href="{% url 'delete_result' result.pk %}"><i class="fas fa-trash-alt fa-lg"></i></a></td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
    <h3 class="content">Your watchlist is empty</h3>
  {% endif %}

  <h1>Add Stocks to my Watchlist</h1>
  <div class="border border-light p-3 white-background">
    <form method="post" class="content text-center">
      {% csrf_token %}
      <fieldset>
        {{ form|crispy }}
      </fieldset>

      <button id="search_submit" type="submit" class="btn btn-info darken-1">
        Add Stock
      </button>
    </form>
  </div>
  
  {% if context %}
    <p>{context}</p>
  {% endif %}

{% endblock content %}

